# model repo
/LLaVA-Med/

# FULL datasets
datasets/MedS-Ins/

# extra files
predict_medinst_multigpu.py
candy.JPG
run_txagent_gpu*

# saved models
llava-med-finetuned*/
checkpoints/*

**__pycache__**
*.cache*git
.env.template
*.pt
*.log
tool_composition*
results/*