# model repo
/LLaVA-Med/

# FULL datasets - ignore everything
datasets/

# extra files
predict_medinst_multigpu.py
candy.JPG
run_txagent_gpu*
*.jinja

#parallel evaluation
merge_eval_results.py
run_eval_parallel.sh
evaluate_tool_selection_fast.py
evaluate_tool_selection_sharded.py

# saved models
checkpoints/
checkpoints/M2LLavaMed-finetuned-text*/
checkpoints/llava-med-finetuned*/
checkpoints/llava-med-tool-selection/
checkpoints/llava-med-tool-selection-v2/
checkpoints/llava-med-tool-selection-v3/checkpoint-800/
checkpoints/llava-med-tool-selection-v3/checkpoint-1800/
anatomical*
GRPO/grpo_output/

extra-files/

#logs
logs/

**__pycache__**
*.cache*git
.env.template
*.pt
*.log
tool_composition*
results/*
.env
datasets/VisualQA-PMCArticle-Dataset/train/llava_med_instruct_60k_inline_mention.json
datasets/VisualQA-PMCArticle-Dataset/train/llava_med_instruct_10k.json
datasets/VisualQA-PMCArticle-Dataset/train/llava_med_alignment_500k.json
datasets/VisualQA-PMCArticle-Dataset/train/llava_med_image_urls.jsonl
unsloth_compiled_cache/

# paper
paper.tex
